<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
<h1>Download</h1>
<ul>
    <% files.forEach(function(file) { %>
        <li>
            <!-- Використовуємо download_path, переданий у шаблон -->
            <a href="<%= download_path + '/' + file %>"><%= file %></a>
        </li>
    <% }) %>
</ul>
</body>
</html>
